
@{
    ViewBag.Title = "Contact";
}
<div>
    <a href="/"> Homepage </a>
    <a href="/Home/Services"> Services </a>
    <a href="/Home/Teams_and_members"> Teams and members </a>
    <a href="/Home/Contact"> Contact </a>
</div>
<h2>Contact</h2>

<form method="post">
    Name:<input type="text" name="Name" placeholder="Enter Your Name" class="form-control" />
    <br />
    <br />
    Email:<input type="email" name="Email" placeholder="Enter Your Email" class="form-control" />
    <br />
    <br />
    Phone:<input type="tel" name="Number" placeholder="Enter Your Phone Number" class="form-control" />
    <br />
    <br />
    Query:<input type="text" name="Query" placeholder="Enter Your Query" class="form-control" />
    <br />
    <br />
    <center>
        <input type="submit" value="Submit" class="btn btn-danger">
    </center>

</form>

