
@{
    ViewBag.Title = "Services";
}



<div>
    <a href="/"> Homepage </a>
    <a href="/Home/Services"> Services </a>
    <a href="/Home/Teams_and_members"> Teams and members </a>
    <a href="/Home/Contact"> Contact </a>
</div>
<h2>Our Services: </h2>
<ul>
    
        <li>
           Softwares
        </li>
        <li>
           Games_and_Consoles
        </li>
        <li>
           Pc_and_Accessories
        </li>
        <li>
            Education
        </li>
        <li>
            Business
        </li>
 
</ul>

