
@{
    ViewBag.Title = "Teams_and_members";
}
<div>
    <a href="/"> Homepage </a>
    <a href="/Home/Services"> Services </a>
    <a href="/Home/Teams_and_members"> Teams and members </a>
    <a href="/Home/Contact"> Contact </a>
</div>
<h2>Teams and members</h2>
<table>
    <ul>
        <li>
            Developers
        </li>
        <li>
            Customer care & Support
        </li>
        <li>
            Accounce & Business
        </li>
        <li>
            Sponsors
        </li>
        <li>
            Partners
        </li>
    </ul>
</table>

